<!DOCTYPE html>
<html>
<head>
    <style>
        body
        {
        background-image:url('back_ground.png');
        color:#f5f5f5;
        }
        img
        {
        float:left;
        }
        .clear
        {
        clear:both;
        }
        #score
        {

        }
        #title
        {

        }
        #time
        {

        }
    </style>
</head>
<body>
<h1 id="title">您的游戏推荐列表</h1>
<p id="time">推荐生成用时：{{  }}</p>

<div id="game">
    <img src="山中大学.png" height="100" width="100">
    <div id="info">
        <table cellpadding="5">
            <tr><td id="game_name" colspan="5">
                <a href="">游戏名称</a> </td></tr>
            <tr><td colspan="1">游戏类型：</td>
                <td colspan="1">RPG</td>
                <td width="20"></td>
                <td colspan="1">发布时间：</td>
                <td colspan="1">1999</td></tr>
            <tr><td colspan="1">游戏主题：</td>
                <td colspan="1">历史 玄幻</td>
                <td width="20"></td>
                <td colspan="1">游戏公司：</td>
                <td colspan="1">steam</td> </tr>
        </table>
    </div>
</div>


</body>
